<h1>NgModel</h1>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<p>Valid: {{ nameInput.valid }}</p>

<input type="number" max="25" min="10" required #ageInput="ngModel" [(ngModel)]="person.age">
<p>Valid: {{ ageInput.valid }}</p>
<hr/>

<h1>Events</h1>
<button [disabled]="btnDisabled">Button</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Age {{ person.age }}</p>
<button (click)="increaseAge()">Age ++</button>

<hr/>

<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam impedit voluptates alias vitae accusamus et dicta saepe quam illum totam nostrum corporis atque quos omnis a minima repudiandae, modi accusantium.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam impedit voluptates alias vitae accusamus et dicta saepe quam illum totam nostrum corporis atque quos omnis a minima repudiandae, modi accusantium.</p>
</div>
<p>Name {{ person.name }}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)">
<hr/>

<h1>Properties</h1>
<button [disabled]="btnDisabled">Button</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar" [alt]="person.name">
<hr/>
<h1>Hello World</h1>
<h2>{{ 'I love you Megan'.repeat(10) }}</h2>
<p>The result for 15 + 2 = {{ 15 + 2 }}</p>
<h3>Hello I am {{ name}}</h3>
<img src={{img}} alt="Image" />
